@font-face {
    font-family: 'MeteoconsRegular';
    src: url("https://dl.dropboxusercontent.com/u/7547051/meteocons-font/FONT/Font-face/meteocons-webfont.ttf") format("truetype");
    /*
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
*/
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px black; 
    background-color: slategray;
    background-repeat: no-repeat;
}

html, body {
     height: 100%;
}

.container {
    margin: 0 auto;
}

.icon {
    font-size: 4em;
    cursor: default;
    pointer-events: none;
    color: white;
    text-shadow: 1px 1px black;
}

i {
    font-size: 4em;
    color: white;
    text-shadow: 0px 0px black;
}


.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}

#tempToggle, #temp {
    display: inline;
    margin-right: 15px;
}

#tempPanel {
    margin-bottom: 20px;
}


